<!DOCTYPE html>
<html lang="en">
<head>
    <title>SignUP</title>
</head>
<body>
    <h1>Sign Up</h1>
    <form action="/user/signup" method="post">
        <label>Full name</label>
        <input type="text" required name="name"/>

        <label>Email</label>
        <input type="text" required name="email"/>

        <label>Password</label>
        <input type="text" required name="password"/>

        <button type="submit">Sign UP</button>
    </form>
</body>
</html>